.playarea{
    position: absolute;
    margin: 0 auto;
    width: 500px;
    height: 600px;
    background-color: aqua;
    
    
    
}

.selected{
    background-color: red;
}


.info{
    display: inline;
}

.target{
    position: relative;
    width: 20px;
    height: 20px;
    background-color: red;
    top: 300px;
    left: 250px; 
    margin: 0 auto;   
}