.playarea{
    position: absolute;
    width: 500px;
    height: 600px;
    background-color: aqua;
    text-align: center;
    margin: 0 auto;
}

.head{
    text-align: center;
}

.target{
    position: relative;
    width: 20px;
    height: 20px;
    background-color:red;
    
    
}